ul, canvas {
  display: inline-block;
  vertical-align: top;
}

canvas#webgl-canvas {
  border: none;
}

ul#lesson-picker {
  list-style-type: none;
}

li { 
  border: solid 1px black;
  padding: 5px;
  background-color: #AAAAAA;
}

li:hover {
  background-color: #CCCCCC;
}

li.selected {
  background-color: #6666FF;
}