ul {
  list-style-type: none;
}

li { 
  border: solid 1px black;
  padding: 5px;
  display: inline; 
  background-color: #AAAAAA;
}

li:hover {
  background-color: #CCCCCC;
}

li.selected {
  background-color: #6666FF;
}